@media (min-width:1068px) {

  @font-face {
      font-family: vcrFont;
      src: url(vcr.ttf);
  }

  @font-face {
      font-family: vapor1;
      src: url(Fathur-Free.ttf);
  }

  body {
    width: 90%;
    margin: 1% 5% 5% 5%;
    background: url("background.jpg");
    background-size: auto;
  }

  #holi2 {
    transform: scaleX(-1);
  }

  h1 {
    background-color: rgba(255, 153, 255, 0.8);
    font-family: vapor1;
    font-size: 4rem;
    text-align: center;
    margin-right: 4%;
  }

  h3 {
    font-family: times;
    text-align: left;
    background-color: rgba(238, 111, 214, 0.5);
    font-size: 2.3rem;
    letter-spacing: 5px;
    margin-bottom: 5px;
    margin-right: 71%;
  }

div p{
  font-family: vcrFont;
}

  header h4 {

    background-color: rgba(102, 153, 255, 0.5);
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-right: 4%;
  }

  #lala {
    color: rgba(255, 0, 0, 0);
  }

  section article {
    width: 33%;
    float: left;
  }

  section p {
    background-color: rgba(110, 160, 240, 0.5);
    text-align: center;
    margin: 5px 0;
    margin-right: 10%;
  }

  section pp {
    background-color: rgba(110, 160, 240, 0.5);
    text-align: left;
    margin-right: 10%;
  }

  header h5 {
    background-color: rgba(255, 153, 255, 0.3);
    color: white;
    font-family: vcrFont;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    padding: 4%;
    margin: 0 6%;
  }

  section ul {
    background-color: rgba(255, 160, 240, 0.8);
    margin-top: 1%;
    margin-right: 10%;
  }

  h2 {
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    background-color: rgba(102, 255, 255);
    font-size: 2.3rem;
    letter-spacing: -3px;
    margin-bottom: 10px;
    margin-right: 10%;
  }
}
}


/*

  @font-face {
      font-family: vcrFont;
      src: url(vcr.ttf);
  }

  @font-face {
      font-family: vapor1;
      src: url(Fathur-Free.ttf);
  }

  body {
    width: 90%;
    margin: 1% 5% 5% 5%;
    background: url("background.jpg");
    background-size: auto;
  }

  #holi2 {
    transform: scaleX(-1);
    width: 20%;
    height: 20%;
  }

  #holi1 {
    width: 20%;
    height: 20%;
  }

  h1 {
    background-color: rgba(255, 153, 255, 0.8);
    font-family: vapor1;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 4%;
  }

  h3 {
    font-family: times;
    text-align: left;
    background-color: rgba(238, 111, 214, 0.5);
    font-size: 1.3rem;
    letter-spacing: 5px;
    margin-bottom: 5px;
    margin-right: 50%;
  }

div p{
  font-family: vcrFont;
  font-size: 0.8em;
}

  header h4 {

    background-color: rgba(102, 153, 255, 0.5);
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-right: 4%;
  }

  #lala {
    color: rgba(255, 0, 0, 0);
  }

  section article {
    width: 33%;
    float: left;
  }

  section p {
    background-color: rgba(110, 160, 240, 0.5);
    text-align: center;
    margin: 5px 0;
    margin-right: 10%;
    font-size: 0.8em;
  }

  section pp {
    background-color: rgba(110, 160, 240, 0.5);
    text-align: left;
    margin-right: 10%;
    font-size: 0.8em;
  }

  header h5 {
    background-color: rgba(255, 153, 255, 0.3);
    color: white;
    font-family: vcrFont;
    font-weight: bold;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    padding: 4%;
    margin: 0 6%;
  }

  section ul {
    background-color: rgba(255, 160, 240, 0.8);
    margin-top: 1%;
    margin-right: 5%;
    font-size: 0.8em;
  }

  h2 {
    text-align: center;
    text-transform: lowercase;
    font-style: italic;
    background-color: rgba(102, 255, 255);
    font-size: 1.5rem;
    letter-spacing: -3px;
    margin-bottom: 10px;
    margin-right: 10%;
  }
}
*/
